
@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
.calendar {
  margin: 3vmin 25vmin;
  
}

.calendar .title {
  margin-top: 0;
  font-family: "Bungee", cursive;
  text-align: center;
  font-weight: 700;
  font-size: 4vmin;
  color: #a6e3e9;
}

.calendar .navi {
  text-align: center;
  margin-bottom: 4vmin;
  font-size: 2vmin;
}

.calendar .current {
  font-size: 4vmin;
  margin: 0 2vmin;
  color: #a6e3e9;
}

.navi a {
  border-bottom: 0.2vmin solid #a6e3e9;
  display: inline-block;
  padding: 2vmin 3.5vmin;
  color: #a6e3e9;
}

.navi a i {
  font-size: 2vmin;
  vertical-align: middle;
  color: #a6e3e9;
}

.navi a:hover {
  background-color: #a6e3e9;
  color: #ffffff;
}

.navi a:hover i {
  color: #ffffff;
}


.calendar .yoils li {
  float: left;
  width: calc(100% / 7);
  text-align: center;
  padding: 2.5vmin 0;
  border: 0.5vmin solid #d5d5d5;
  border-left: 0;
  background-color: #a6e3e9;
  font-family: "Bungee", cursive;
  font-size: 3vmin;
  letter-spacing: -1px;
  color: white;
}

.calendar .yoils li:first-child {
  border-left: 0.5vmin solid #d5d5d5;
}

.calendar .yoils:after {
  content: "";
  display: block;
  clear: left;
}

.calendar .days li {
  float: left;
  width: calc(100% / 7);
  height: 14vmin;
  border-bottom: 0.5vmin solid #d5d5d5;
  border-right: 0.5vmin solid #d5d5d5;
  
  
}

.calendar .days li:nth-child(7n + 1) {
    position: relative;
  border-left: 0.5vmin solid #d5d5d5;
}

.calendar .days:after {
  content: "";
  display: block;
  clear: left;
}
.calendar .days li{
    position: relative;
}
.calendar .day {
  position: relative;
  top: 1vmin;
  left: 1vmin;
  color: #a6e3e9;
  font-family: "Ultra", cursive;
  font-size: 2.5vmin;

}
.calendar .cont{
    position: absolute;
    width: 8vmin;
    top: 4.5vmin;
    font-size: 1.8vmin;
    font-family: 'Black Han Sans', sans-serif;
    color: rebeccapurple;
    left: 1vmin;
    overflow:hidden;
}